@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rozha+One&display=swap");

.rozha-one-regular {
  font-family: "Rozha One";
  font-weight: 400;
  font-style: normal;
}


.rozha-one-bold {
  font-family: "Rozha One";
  font-weight: 800;
  font-style: normal;
}